* {
    margin: 0;

    color: #4EC9B0;
    font-family: Consolas, 'Courier New', monospace;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    background: #1E1E1E;
    height: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
}

header, footer {
    background: #2E2E2E;
    display: table-row;
}

header {
    text-align: center;
    color: #808080;
    font-weight: normal;
    font-size: 25px;
    text-decoration: none;
}

header ul {
    overflow: auto;
}

header li {
    margin: 0;
    height: 100%;
    background: #2E2E2E;
    display: inline-block;
}

header li a:hover {
    background-color: #1E1E1E;
}

header a {
    display: inline-block;
    padding: 30px;
}

.Nav-Active{
    background: #1E1E1E;
    color: #FFFFFF;
}

main {
    display: table-row;
    height: 100%;
}

main h1 {
    font-weight: normal;
    font-size: 50px;
    text-decoration: none;
}

main h2 {
    font-weight: normal;
    font-size: 40px;
    text-decoration: none;
}

main p {
    color: #9CDCFE;
    font-weight: normal;
    font-size: 25px;
    text-decoration: none; 
}

.Comment {
    color: #6A9955;
}

main ul {
    text-align: left;
    list-style-type: none;
}

footer {
    height: 50px;
    margin: 20px;
    background: #2E2E2E;
    text-align: center;
}

footer div {
    margin: 20px;
}

footer p {
    line-height: 40px;
}

.Text-Wrapper {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 40px;
    padding-bottom: 40px;
}

article {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

article ul li h2 {
    margin-bottom: 10px;
}

article ul li p {
    margin-bottom: 10px;
}

article ul li a {
    float: left;
    margin: 0 10px 0 0;
    padding: 25px;
    background: #2E2E2E;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: 25px;
    text-decoration: none;
}

.Card {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.Card.White {
    background: #DDDDDD;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.Card.Footer {
    background: #2E2E2E;
    bottom: 0;
}

.Image-Container {
    display: flex;
}

.Logo {
    height: 300px;
    width: auto;
    display: block;
    margin: auto;
    margin: auto;
    transition: transform .2s;
}

.Logo:hover {
    transform: scale(1.05);
}

.List {
    display: block;
    padding: 0;
}

.NavItem {
    margin: 0;
    height: 100%;
    background: #2E2E2E;
    display: inline-block;
}

.NavItem.Active {
    background: #1E1E1E;
}

.ItemImage {
    width: 30%;
    height: auto;
    float: right;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.2);
}