* {
    margin: 0;
}

body {
    background: #1E1E1E;
}

h1 {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 40px;
    padding-bottom: 40px;

}

.Card {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.Card.White {
    background: #DDDDDD;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.Logo{
    height: 300px;
    width: auto;
    display: block;
    margin: auto;
    margin: auto;
    
    transition: transform .2s;
}

.Logo:hover {
    transform: scale(1.05);
}