.Word {
    color: #9CDCFE;
    font-family: Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: 50px;
    text-decoration: none;
}

.Word.Verb {
    color: #DCDCAA;
}

.Word.Adjective {
    color: #007acc;
}

.Word.Variable {
    color: #9CDCFE;
}

.Word.Noun {
    color: #4EC9B0;
}

.Word.Keyword {
    color: #C586C0;
}

.Word.Comment {
    color: #6A9955;
}

.Word.Active {
    color: #FFFFFF;
}

.Word.Other {
    color: #808080;
}

.Word.String {
    color: #ce9178;
}

.Word.Nav {
    color: #808080;
    font-family: Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: 25px;
    text-decoration: none;
}

.Word.Nav.Active {
    color: #FFFFFF;
}

h1 {
    color: #4EC9B0;
    font-family: Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: 50px;
    text-decoration: none;
}

h2 {
    color: #4EC9B0;
    font-family: Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: 40px;
    text-decoration: none;
}

p {
    color: #9CDCFE;
    font-family: Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: 25px;
    text-decoration: none; 
}

.Comment {
    color: #6A9955;
    font-family: Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: 25px;
    text-decoration: none; 
}